<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Main Page</title>
        <meta name="description" content="Main Page">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/main_styles.css">
    </head>
    <body>
        <div class=main_sb>
            
            <div class=welcome>
                <span class="welcome_text">다시오신것을 환영해요 {{user.username}}님!</span>
                <div class="welcome_icon"></div>
            </div>
            {% include "includes/logo.html" %}


            <div class=leftbar>
                <div class=ranking>
                    {% include "includes/ranking.html" %}
                    <div class=my_frame>
                        <div class=mypage>
                            <a href="user/logout">
                                <div class="logout_icon"></div>
                                <span class="logout_text">로그아웃</span>
                            </a>
                        </div>
                        <div class=review_note>
                            <a href="board/review">
                                <div class="note_icon"></div>
                                <span class="note_text">오답노트</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class=pracmode_group>
              <a href="board/practice">
                <div class=pracmode>
                    <div class=prac_button>
                        <span class="prac_button_label">Stage1 문제 4</span>
                    </div>
                    <span class="prac_body">3개의 스테이지로 구성된
난이도 순의 코딩 문제를 
5개의 유형별 힌트를 
이용하여 풀어나갑니다</span>
                    <span class="prac_title">연습모드</span>
                    </div>
              </a>
            </div>
        </div>
        <div class=realmode_group>
          <a href="board/real">
            <div class=realmode>
                <div class=real_button>
                    <span class="real_button_label">Ranking 27</span>
                </div>
                <span class="real_text">힌트가 제공되지 않는 실전프로그래밍 문제가 제공됩니다. 제한시간이 주어지며 랭킹에 반영되는 점수를 획득할 수 
있습니다.</span>
                <span class="real_title">실전모드</span>
            </div>
          </a>
        </div>
</div></body></html>