{% load tags %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/basic.css">
    <title>Practice</title>
    <link rel="import" href="testContents.html">
    <script>
        function showHint(hintMessage, id) {
        // 팝업 창 생성
        var hint = hintMessage;
        if (id == 'hint1'){
            hint_msg = "문제 정보에 관한 힌트입니다.\n힌트횟수가 차감됩니다.";
        }
        else if(id == 'hint2'){
            hint_msg = "다음 단계에 관한 힌트입니다.\n힌트횟수가 차감됩니다.";
        }
        else if(id == 'hint3'){
            hint_msg = "틀린부분에 대한 힌트입니다. \n 힌트횟수가 차감됩니다.";
        }
        // else if(id == 'hint4'){
        //     hint_msg = "skeleton에 관한 힌트를 쓰시겠습니까?";
        // }
        
        alert(hint_msg);
        
        //if (confirmMessage) {
            // 확인 버튼을 클릭한 경우
          //  alert(hintMessage);
            // 추가로 필요한 작업 수행
        //}
        }
    </script>
</head>

<body>

{% include "includes/logo.html" %}


    <div class="problem_area">
        <div class="problem_title"> {{problem_title}}</div>
        <div class="provlem_content">{{problem_content}}</div>
        <div class="provlem_input">{{problem_input}}</div>
        <div class="provlem_output">{{problem_output}}</div>
        <!--<div class="io_example">{{io_example1}}{{io_example2}}{{io_example3}}{{io_ex_answer1}}{{io_ex_answer2}}{{io_ex_answer3}}</div>-->
        <br>
        <div class="io_example">
            {% if io_example1 %}{{ io_example1 | linebreaksbr}}<br><br>{% endif %}
            {% if io_example2 %}{{ io_example2 | linebreaksbr }}<br><br>{% endif %}
            {% if io_example3 %}{{ io_example3 | linebreaksbr }}<br><br>{% endif %}
            {% if io_ex_answer1 %}{{ io_ex_answer1 | linebreaksbr }}<br><br>{% endif %}
            {% if io_ex_answer2 %}{{ io_ex_answer2 | linebreaksbr }}<br><br>{% endif %}
            {% if io_ex_answer3 %}{{ io_ex_answer3 | linebreaksbr }}<br><br>{% endif %}
          </div>
    </div>

    <div class="midline"></div>
    
    <div class="answer_area">
        <div class="answer_area_top">
            <div class="prob_number">문제 N</div>
        <div class="hint_n_time">
            <div class="hint_area">

                <div class="hint" onclick="{% hint user problem.problem_id hint1 'hint1' 1 %}" id="hint1"></div>
                <button class="hint" onclick="{% hint user problem.problem_id hint2 'hint2' 2 %}" ></button>
                <button class="hint" onclick="{% hint user problem.problem_id hint3 'hint3' 3 %}" ></button>


            </div>
            <div class="time_area">
                <div class ="time_icon"></div>
                <div class ="time">1:27</div>
            </div>


        </div>
        </div>
        
        <div class="put_answer">
            <form method="POST">
                {% csrf_token %}
            <textarea  type="text" class = "user_answer" name="user_answer" placeholder="정답을 입력하세요" id="user_answer"></textarea>
        
            <button class="submit_btn_user" onclick="alert('제출하시겠습니까?')"
            >제출</button>
            <div class="submit_icon" ></div>
        </form>
        </div>
    
    <!-- <div class="put_answer">
        <textarea  type="text" class = "user_answer" name="user_answer" placeholder="정답을 입력하세요" id="user_answer"></textarea>

        <button class="submit_btn_user" onclick="alert('제출하시겠습니까?')"
        >제출</button>
        <div class="submit_icon" ></div>
    
    </div> -->
    </div>
    <!--
    <div class=footer>
        
        <button class="home_icon"></button>
        <div class ="to_home">메인으로</div>  
        <button class="question_icon"></button>
        <div class ="question">도움말</div>  
    </div> 
       -->     
</body>

</html>