{% load tags %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/basic.css">
    <title>Practice</title>
    <link rel="import" href="testContents.html">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


</head>

<body>

{% include "includes/logo.html" %}


    <div class="problem_area">
        <div class="problem_title"> {{problem_title}}</div>
        <div class="provlem_content">{{problem_content}}</div>
        <div class =io_example_area>
            <div class="provlem_input">{{problem_input}}</div>
            <br>
            <div class="provlem_output">{{problem_output}}</div>
            <!--<div class="io_example">{{io_example1}}{{io_example2}}{{io_example3}}{{io_ex_answer1}}{{io_ex_answer2}}{{io_ex_answer3}}</div>-->
            <br>
            <div class="io_example">
                {% if io_example1 %}{{ io_example1 | linebreaksbr}}<br><br>{% endif %}
                {% if io_example2 %}{{ io_example2 | linebreaksbr }}<br><br>{% endif %}
                {% if io_example3 %}{{ io_example3 | linebreaksbr }}<br><br>{% endif %}
                {% if io_ex_answer1 %}{{ io_ex_answer1 | linebreaksbr }}<br><br>{% endif %}
                {% if io_ex_answer2 %}{{ io_ex_answer2 | linebreaksbr }}<br><br>{% endif %}
                {% if io_ex_answer3 %}{{ io_ex_answer3 | linebreaksbr }}<br><br>{% endif %}
              </div>
            </div>
    </div>

    <div class="midline"></div>
    
    <div class="answer_area">
        <div class="answer_area_top">
            <div class="prob_number">문제 {{ problem.problem_id }}</div>
        <div class="hint_n_time">
            <div class="hint_area">


                <button class="hint" onclick="showHint(1,  {{ user.id }}, {{ problem.problem_id }})" id="hint1"></button>
                <button class="hint" onclick="showHint(2, {{ user.id }}, {{ problem.problem_id }})" ></button>
                <button class="hint" onclick="showHint(3, {{ user.id }}, {{ problem.problem_id }})" ></button>


            </div>
            <div class="time_area">
                <div class ="time_icon"></div>
                <div class ="time" id="Timer">03:00</div>
            </div>


        </div>
        </div>
        <form method="POST">
                {% csrf_token %}
        <div class="put_answer">
            
            <textarea  type="text" class = "user_answer" name="user_answer" placeholder="정답을 입력하세요" id="user_answer"></textarea>
            <button class="submit_btn_user" onclick="alert('제출하시겠습니까?')">제출</button>
            <div class="submit_icon" ></div>    
            
        
        
        </div>
    </form>
    </div>
   
</body>

<script>
    function countdown() {
  var timerElement = document.getElementById("Timer");
  var remainingTime = 3 * 60; // 3 minutes in seconds

  var timerId = setInterval(updateTimer, 1000);

  function updateTimer() {
    var minutes = Math.floor(remainingTime / 60);
    var seconds = remainingTime % 60;

    var timeText = minutes.toString().padStart(2, "0") + ":" + seconds.toString().padStart(2, "0");
    timerElement.innerHTML = timeText;

    if (remainingTime <= 0) {
      clearInterval(timerId);

    } else {
      remainingTime--;
    }
  }
}
countdown();


    function showHint(hint_id, user_id, prob_id, ) {

        var msg = hint_id + "번 힌트를 사용합니다.";
        var user_id = user_id;

        var form_data = new FormData();
        form_data.append("user_id",user_id);
        form_data.append("prob_id",prob_id);
        form_data.append("hint_id",hint_id);
        console.log(form_data);
        $.ajax({
                type: "POST",
                url: "{% url 'hint-use' %}",
                data: form_data,
                dataType: 'json',
                processData: false,
                contentType: false,
            success:function(json){
                console.log("hint is used");
            },
            error: function(xhr,errmsg,err){
                console.log(".");
            }

        });

        alert(msg);

        //if (confirmMessage) {
            // 확인 버튼을 클릭한 경우
          //  alert(hintMessage);
            // 추가로 필요한 작업 수행
        //}

        }




</script>
</html>
