

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/basic.css">
    <title>Practice</title>
    <link rel="import" href="testContents.html">
    <script>
        function showHint(hintMessage, id) {

        var hint = hintMessage; 
        if (id == 'hint1'){
            hint_msg = "문제 정보에 관한 힌트를 쓰시겠습니까?";
        }
        else if(id == 'hint2'){
            hint_msg = "다음 단계에 관한 힌트를 쓰시겠습니까?";
        }
        else if(id == 'hint3'){
            hint_msg = "틀린부분에 대한한 힌트를 쓰시겠습니까?";
        }
        
        var confirmMessage = confirm(hint_msg); 
        
        if (confirmMessage) {
            alert(hintMessage);
        } 
        }
    </script>
</head>

<body>

{% include "includes/logo.html" %}


    <div class="problem_area">
        <div class="problem_title"> {{problem_title}}</div>
        <div class="provlem_content">{{problem_content}}</div>
        <div class =io_example_area>
            <div class="provlem_input">{{problem_input}}</div>
            <br>
            <div class="provlem_output">{{problem_output}}</div>
            <!--<div class="io_example">{{io_example1}}{{io_example2}}{{io_example3}}{{io_ex_answer1}}{{io_ex_answer2}}{{io_ex_answer3}}</div>-->
            <br>
            <div class="io_example">
                {% if io_example1 %}{{ io_example1 | linebreaksbr}}<br><br>{% endif %}
                {% if io_example2 %}{{ io_example2 | linebreaksbr }}<br><br>{% endif %}
                {% if io_example3 %}{{ io_example3 | linebreaksbr }}<br><br>{% endif %}
                {% if io_ex_answer1 %}{{ io_ex_answer1 | linebreaksbr }}<br><br>{% endif %}
                {% if io_ex_answer2 %}{{ io_ex_answer2 | linebreaksbr }}<br><br>{% endif %}
                {% if io_ex_answer3 %}{{ io_ex_answer3 | linebreaksbr }}<br><br>{% endif %}
              </div>
            </div>
    </div>

    <div class="midline"></div>
    
    <div class="answer_area">
        <div class="answer_area_top">
            <div class="prob_number">문제 N</div>
        <div class="hint_n_time">
            <div class="hint_area">

                <button class="hint" onclick="showHint('{{hint1}}', 'hint1')" ></button>
                <button class="hint" onclick="showHint('{{hint2}}', 'hint2')" ></button>
                <button class="hint" onclick="showHint('{{hint3}}', 'hint3')" ></button>


            </div>
            <div class="time_area">
                <div class ="time_icon"></div>
                <div class ="time" id="Timer">03:00</div>
            </div>


        </div>
        </div>
        <form method="POST">
                {% csrf_token %}
        <div class="put_answer">
            
            <textarea  type="text" class = "user_answer" name="user_answer" placeholder="정답을 입력하세요" id="user_answer"></textarea>
            <button class="submit_btn_user" onclick="alert('제출하시겠습니까?')">제출</button>
            <div class="submit_icon" ></div>    
            
        
        
        </div>
    </form>
    </div>
   
</body>

<script>
    function countdown() {
  var timerElement = document.getElementById("Timer");
  var remainingTime = 3 * 60; // 3 minutes in seconds

  var timerId = setInterval(updateTimer, 1000);

  function updateTimer() {
    var minutes = Math.floor(remainingTime / 60);
    var seconds = remainingTime % 60;

    var timeText = minutes.toString().padStart(2, "0") + ":" + seconds.toString().padStart(2, "0");
    timerElement.innerHTML = timeText;

    if (remainingTime <= 0) {
      clearInterval(timerId);

    } else {
      remainingTime--;
    }
  }
}
countdown();
</script>
</html>
