<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Real Mode</title>
    <meta name="description" content="Real Mode" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/real_styles.css" />
  </head>
  <body>
    <div class="real_sb">
      <div class="real_mode">
        <div class="real_rectangle"></div>
        <span class="real_title">실전모드</span>
        <span class="real_content"
          >제한시간 이내에 랜덤 문제를 해결하여 자신의 실력을 증명하세요.
          실전모드 규칙 힌트는 제공되지 않습니다 점수는 실시간으로 제공됩니다
          실전모드에서 쌓인 점수가 높을수록 랭킹이 올라갑니다. 실전모드에서 못
          푼 문제는, 오답노트 페이지에서 다시 학습할 수 있습니다.
        </span>
      </div>
      <a href="{% url 'problem-view2' id=random_number %}">
        <div class="start_button">
          <div class="start_rectangle"></div>
          <span class="start_text">시작하기</span>
        </div>
      </a>

      {% include "includes/logo.html" %}

      <div class="leftbar">
        <div class="ranking">
          {% include "includes/ranking.html" %}
          <div class="my_frame">
            <div class="mypage">
              <a href="/user/logout">
                <div class="logout_icon"></div>
                <span class="logout_text">로그아웃</span>
              </a>
            </div>

            <div class="review_note">
              <a href="/board/review">
                <div class="note_icon"></div>
                <span class="note_text">오답노트</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
