<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Real Mode</title>
    <meta name="description" content="Real Mode" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/real_styles.css" />
  </head>
  <body>
    <div class="________sb_2_1278">
      <div class="real_mode_2_1400">
        <div class="real_rectangle_2_1401"></div>
        <span class="real_title_2_1402">실전모드</span>
        <span class="real_content_2_1403"
          >제한시간 이내에 랜덤 문제를 해결하여 자신의 실력을 증명하세요.
          실전모드 규칙 힌트는 제공되지 않습니다 점수는 실시간으로 제공됩니다
          실전모드에서 쌓인 점수가 높을수록 랭킹이 올라갑니다. 실전모드에서 못
          푼 문제는, 오답노트 페이지에서 다시 학습할 수 있습니다.
        </span>
      </div>
      <a href="{% url 'problem-view2' id=random_number %}">
        <div class="start_button_2_1404">
          <div class="start_rectangle_2_1405"></div>
          <span class="start_text_2_1406">시작하기</span>
        </div>
      </a>

      {% include "includes/logo.html" %}

      <div class="leftbar">
        <div class="ranking">
          <div class="ranking_frame">
            <div class="first_user">
              <div class="first_user_group">
                <div class="learderboard_selection_32_1659">
                  <div class="rectangle_30_i32_1659_74_99"></div>
                </div>
                <div class="first_user_text">
                  <span class="first_user_id">1위 forAwhile</span>
                </div>
                <div class="first_user_num">
                  <span class="first_number">1,764</span>
                </div>
                <div class="first_group_"></div>
              </div>
            </div>
            <div class="second_user">
              <div class="second_user_group">
                <div class="learderboard_selection_17_365">
                  <div class="rectangle_30_i17_365_74_99"></div>
                </div>
                <div class="second_user_text">
                  <span class="second_user_id">2위 Cookies</span>
                </div>
                <div class="second_user_num">
                  <span class="second_number">1,256</span>
                </div>
                <div class="second_group_"></div>
              </div>
            </div>
            <div class="third_user">
              <div class="third_user_group">
                <div class="learderboard_selection_17_347">
                  <div class="rectangle_30_i17_347_74_99"></div>
                </div>
                <div class="third_user_text">
                  <span class="third_user_id">3위 HelloWorld</span>
                </div>
                <div class="third_user_num">
                  <span class="third_number">1,142</span>
                </div>
                <div class="third_group_"></div>
              </div>
            </div>
            <div class="fourth_user">
              <div class="fourth_user_group">
                <div class="learderboard_selection_17_297">
                  <div class="rectangle_30_i17_297_74_99"></div>
                </div>
                <div class="fourth_user_text">
                  <span class="fourth_user_id">26위 RuntimeTerror</span>
                </div>
                <div class="fourth_user_num">
                  <span class="fourth_number">272</span>
                </div>
                <div class="fourth_group_"></div>
              </div>
            </div>
            <div class="fifth_user">
              <div class="current_user"></div>
              <div class="fifth_user_group">
                <div class="learderboard_selection_17_315">
                  <div class="rectangle_30_i17_315_74_99"></div>
                </div>
                <div class="fifth_user_text">
                  <span class="fifth_user_id">27위 BugJava</span>
                </div>
                <div class="fifth_user_num">
                  <span class="fifth_number">263</span>
                </div>
                <div class="fifth_group_"></div>
              </div>
            </div>
            <div class="sixth_user">
              <div class="sixth_user_group">
                <div class="learderboard_selection_17_331">
                  <div class="rectangle_30_i17_331_74_99"></div>
                </div>
                <div class="sixth_user_text">
                  <span class="sixth_user_id">28위 404error</span>
                </div>
                <div class="sixth_user_num">
                  <span class="sixth_number">230</span>
                </div>
                <div class="sixth_group_"></div>
              </div>
            </div>
          </div>
          <div class="ranking_title_i32_2194_25_156">
            <span class="ranking_text_i32_2194_17_397">Ranking</span>
            <div class="trophy_i32_2194_17_398"></div>
          </div>
          <div class="frame_299_i32_2194_79_10928">
            <div class="mypage_i32_2194_79_9976">
              <a href="/user/logout">
                <div class="mypage_icon_i32_2194_79_9682"></div>
                <span class="mypate_text_i32_2194_79_9980">로그아웃</span>
              </a>
            </div>
            <div class="review_note_i32_2194_79_9514">
              <a href="/board/review">
                <div class="note_icon_i32_2194_79_9675"></div>
                <span class="note_text_i32_2194_79_9522">오답노트</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
