<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/basic.css" />
    <title>Real Mode</title>
    <link rel="import" href="testContents.html" />
  </head>

  <body>
{% include 'includes/logo.html' %}

    <div class="problem_area">
      <div class="problem_title"> {{problem_title}}</div>
      <div class="provlem_content">{{problem_content}}</div>
      <div class="provlem_input">{{problem_input}}</div>
      <div class="provlem_output">{{problem_output}}</div>
      <!--<div class="io_example">{{io_example1}}{{io_example2}}{{io_example3}}{{io_ex_answer1}}{{io_ex_answer2}}{{io_ex_answer3}}</div>-->
      <div class="io_example">
          {% if io_example1 %}{{ io_example1 | linebreaksbr}}<br><br>{% endif %}
          {% if io_example2 %}{{ io_example2 | linebreaksbr }}<br><br>{% endif %}
          {% if io_example3 %}{{ io_example3 | linebreaksbr }}<br><br>{% endif %}
          {% if io_ex_answer1 %}{{ io_ex_answer1 | linebreaksbr }}<br><br>{% endif %}
          {% if io_ex_answer2 %}{{ io_ex_answer2 | linebreaksbr }}<br><br>{% endif %}
          {% if io_ex_answer3 %}{{ io_ex_answer3 | linebreaksbr }}<br><br>{% endif %}
        </div>
  </div>
    <div class="midline"></div>

    <div class="answer_area">
      <div class="answer_area_top">
        <div class="real_mode_sqr">실전모드</div>
        <div class="real_mode_score">
          <div class="hint_area">
            <div class="info_word">나의 점수</div>
            
            <div class="star_icon"></div>
        
            <div class="info_word" id="realmode_score">77점</div>
          </div>
          
        </div>
      </div>
      <div class="answer_area_middle">
        <div class="progress_area">
            <div id="wholeProgress">
              <div id="myBar"></div>
            </div>
            <div class="time_area">
            <div class="time_word">남은시간</div>
            <div class="time_icon"></div>
            <div class="time" id="Timer">10:00</div>
          </div>
        </div>


      </div>
      <form method="POST">
        {% csrf_token %}
      <div class="put_answer">
        <textarea
          type="text"
          class="user_answer"
          name="user_answer"
          placeholder="정답을 입력하세요"
          id="user_answer"
        ></textarea>

        <button class="submit_btn_user" onclick="alert('제출하시겠습니까?')">
          제출
        </button>
        <div class="submit_icon"></div>
      </div>
    </form>
    </div>

    <!-- <div class="footer">
      <button class="home_icon"></button>
      <div class="to_home">메인으로</div>
      <button class="question_icon"></button>
      <div class="question">도움말</div>
    </div> -->
  </body>

  <!-- <script>
  
  
  const Timer=document.getElementById('Timer'); //스코어 기록창-분
    let time= 180000;
    let min=3;
    let sec=60;
    
    
    Timer.value=min+":"+'00'; 
    
    function TIMER(){
        PlAYTIME=setInterval(function(){
            time=time-1000; //1초씩 줄어듦
            min=time/(60*1000); //초를 분으로 나눠준다.
    
           if(sec>0){ //sec=60 에서 1씩 빼서 출력해준다.
                sec=sec-1;
                Timer.value=Math.floor(min)+':'+sec; //실수로 계산되기 때문에 소숫점 아래를 버리고 출력해준다.
               
            }
            if(sec===0){
               // 0에서 -1을 하면 -59가 출력된다.
                // 그래서 0이 되면 바로 sec을 60으로 돌려주고 value에는 0을 출력하도록 해준다.
                sec=60;
                Timer.value=Math.floor(min)+':'+'00'
            }     
       
        },1000); //1초마다 
    }
    
    
    TIMER();
    setTimeout(function(){
        clearInterval(PlAYTIME);
    },180000);//3분이 되면 타이머를 삭제한다.</script> -->
</html>
