<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/basic.css" />
    <title>Real Mode</title>
    <link rel="import" href="testContents.html" />
  </head>

  <body > 
    <!-- onload="timer()" -->
{% include 'includes/logo.html' %}

    <div class="problem_area">
      <div class="problem_title"> {{problem_title}}</div>
      <div class="provlem_content">{{problem_content}}</div>
      <div class="provlem_input">{{problem_input}}</div>
      <div class="provlem_output">{{problem_output}}</div>
      <!--<div class="io_example">{{io_example1}}{{io_example2}}{{io_example3}}{{io_ex_answer1}}{{io_ex_answer2}}{{io_ex_answer3}}</div>-->
      <div class="io_example">
          {% if io_example1 %}{{ io_example1 | linebreaksbr}}<br><br>{% endif %}
          {% if io_example2 %}{{ io_example2 | linebreaksbr }}<br><br>{% endif %}
          {% if io_example3 %}{{ io_example3 | linebreaksbr }}<br><br>{% endif %}
          {% if io_ex_answer1 %}{{ io_ex_answer1 | linebreaksbr }}<br><br>{% endif %}
          {% if io_ex_answer2 %}{{ io_ex_answer2 | linebreaksbr }}<br><br>{% endif %}
          {% if io_ex_answer3 %}{{ io_ex_answer3 | linebreaksbr }}<br><br>{% endif %}
        </div>
  </div>
    <div class="midline"></div>

    <div class="answer_area">
      <div class="answer_area_top">
        <div class="real_mode_sqr">실전모드</div>
        <div class="real_mode_score">
          <div class="hint_area">
            <div class="info_word">나의 점수</div>
            
            <div class="star_icon"></div>
        
            <div class="info_word" id="realmode_score">77점</div>
          </div>
          
        </div>
      </div>
      <div class="answer_area_middle">
        <div class="progress_area">
            <div id="wholeProgress">
              <div id="myBar"></div>
            </div>
            <div class="time_area">
            <div class="time_word">남은시간</div>
            <div class="time_icon"></div>
            <div class="time" id="Timer">05:00</div>
          </div>
        </div>


      </div>
      
      <div class="put_answer">
        <form method="POST">
          {% csrf_token %}
        <textarea
          type="text"
          class="user_answer"
          name="user_answer"
          placeholder="정답을 입력하세요"
          id="user_answer"
        ></textarea>

        <button class="submit_btn_user" onclick="alert('제출하시겠습니까?')">
          제출
        </button>
        <div class="submit_icon"></div>
      </form>
      </div>
  
    </div>

    <!-- <div class="footer">
      <button class="home_icon"></button>
      <div class="to_home">메인으로</div>
      <button class="question_icon"></button>
      <div class="question">도움말</div>
    </div> -->
  </body>



<script>
 
function timer() {
  var elem = document.getElementById("myBar");
  var width = 100;
  var duration = 5 * 60; // 7 minutes in seconds
  var increment = 100 / duration; 
  var currentTime = 0;
  var id = setInterval(frame, 1000); // Update the progress bar every second

  function frame() {
    if (currentTime >= duration) {
      clearInterval(id);
    } else {
      currentTime++;
      width -= increment;
      elem.style.width = width + "%";
      // elem.innerHTML = Math.round(width) + "%";
    }
  }
}

timer();

function countdown() {
  var timerElement = document.getElementById("Timer");
  var remainingTime = 5 * 60; // 5 minutes in seconds

  var timerId = setInterval(updateTimer, 1000);

  function updateTimer() {
    var minutes = Math.floor(remainingTime / 60);
    var seconds = remainingTime % 60;

    var timeText = minutes.toString().padStart(2, "0") + ":" + seconds.toString().padStart(2, "0");
    timerElement.innerHTML = timeText;

    if (remainingTime <= 0) {
      clearInterval(timerId);

    } else {
      remainingTime--;
    }
  }
}

countdown();

</script>

</html>
