.prac_sb {
  background-color: rgba(255, 255, 255, 1);
  width: 1480px;
  height: 829px;
  position: absolute;
}
.prac_map {
  width: 738px;
  height: 361px;
  position: absolute;
  left: 582px;
  top: 394px;
}
.stage9 {
  width: 70px;
  height: 65px;
  position: absolute;
  left: 9px;
  top: 296px;
}

.bg_locked {
  background-image: url(images/lock_gray.png) !important;
}
.bg_opened {
  background-image: url(images/story_1.png) !important;
}
.bg-crown-0 {
  background-image: url(images/crown0_2.png) !important;
}
.bg-crown-1 {
  background-image: url(images/crown1_1.png) !important;
}
.bg-crown-2 {
  background-image: url(images/crown2_1.png) !important;
}
.bg-crown-3 {
  background-image: url(images/crown3.png) !important;
}
.bg_start {
  background-image: url(images/start_1.png) !important;
}
.header {
  width: 100%;
  position: absolute;

  top: 4.5625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
}

.logo_header {
  width: inherit;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-image: url("/static/img/CodeCraft.png");
  background-size: contain;
  float: left;
  margin-left: 5rem;
  cursor: pointer;
}

.user_header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  margin-right: 5rem;
  float: right;
  margin-bottom: 2rem;
}

.user_info {
  width: auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.user_acc {
  display: flex;
  flex-direction: row;
}

.user_icon {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-image: url("/static/img/user_icon.png");
  background-size: contain;
  margin-right: 0.3rem;
}

.user_name {
  margin-right: 0.8rem;
  flex-grow: 0;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  color: #5c5c5c;
}

.user_score_icon {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-image: url("/static/img/score.png");
  background-size: contain;
}
.stage8_79_8553 {
  width: 70px;
  height: 65px;
  position: absolute;
  left: 170px;
  top: 296px;
}
.stage7_79_8555 {
  width: 70px;
  height: 65px;
  position: absolute;
  left: 332px;
  top: 296px;
}
.stage6_79_8551 {
  width: 70px;
  height: 65px;
  position: absolute;
  left: 497px;
  top: 271px;
}
.stage5_79_8548 {
  width: 87px;
  height: 92px;
  position: absolute;
  left: 651px;
  top: 103px;
}
.stage4_79_8564 {
  width: 87px;
  height: 92px;
  position: absolute;
  left: 650px;
  top: 231px;
}
.start_79_8518 {
  width: 98px;
  height: 134px;
  position: absolute;
  left: 483px;
  top: 0px;
}
.start_1_79_8519 {
  width: 98px;
  height: 134px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.stage3_79_8520 {
  width: 87px;
  height: 94px;
  position: absolute;
  left: 323px;
  top: 10px;
}
.stage2_79_8524 {
  width: 87px;
  height: 94px;
  position: absolute;
  left: 162px;
  top: 12px;
}
.stage1_79_8536 {
  width: 87px;
  height: 94px;
  position: absolute;
  left: 0px;
  top: 10px;
}
.story_1_79_8538 {
  width: 70px;
  height: 65px;
  position: absolute;
  left: 9px;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
.crown3_79_8539 {
  width: 87px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 74px;
  background-repeat: no-repeat;
  background-size: cover;
}
.prac_stage_2_1121 {
  background-color: rgba(
    106.09875798225403,
    149.33379560709,
    189.2430540919304,
    1
  );
  width: 937px;
  height: 71px;
  position: absolute;
  left: 471px;
  top: 291px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.stage_description_2_1122 {
  color: rgba(255, 255, 255, 1);
  width: 231px;
  height: 27px;
  position: absolute;
  left: 147px;
  top: 21px;
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
  line-height: px;
}
.stage_num_2_1123 {
  color: rgba(255, 255, 255, 1);
  width: 88px;
  height: 34px;
  position: absolute;
  left: 38px;
  top: 18.21875px;
  font-family: Inter;
  text-align: left;
  font-size: 23px;
  letter-spacing: 0;
  line-height: px;
}
.prac_description_27_951 {
  width: 941px;
  height: 153px;
  position: absolute;
  left: 472px;
  top: 122px;
}
.prac_desc_2_1115 {
  width: 941px;
  height: 153px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.prec_outline_2_1116 {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
  background-color: rgba(219.0000021457672, 234.00000125169754, 255, 1);
  width: 941px;
  height: 153px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.prac_title_2_1117 {
  color: rgba(38.0000015348196, 50.000000819563866, 56.000000461936, 1);
  width: 173px;
  height: 56.61538314819336px;
  position: absolute;
  left: 11px;
  top: 17px;
  font-family: Inter;
  text-align: center;
  font-size: 32px;
  letter-spacing: 0;
}
.prac_content_2_1118 {
  color: rgba(45.805557891726494, 45.805557891726494, 45.805557891726494, 1);
  width: 779px;
  height: 48px;
  position: absolute;
  left: 38px;
  top: 75px;
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0.10000000149011612;
  line-height: px;
}

.leftbar {
  width: 389px;
  height: 833px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ranking {
  width: 330px;
  height: 655px;
  position: absolute;
  left: 21px;
  top: 178px;
}
.ranking_frame {
  width: 314.13037109375px;
  height: 341px;
  position: absolute;
  left: 13.434814453125px;
  top: 96.5px;
}
.first_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 0px;
}
.first_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_1 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 24.5px;
  top: 0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_1 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.first_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728515625px;
  top: 16px;
}
.first_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.first_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.first_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.first_group_ {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1px;
  top: 0.5px;
  background-image: url(images/mask_group_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.second_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 59px;
}
.second_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_2 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 22.5px;
  top: 1.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_2 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.second_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728485107421875px;
  top: 15px;
}
.second_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.second_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.second_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.second_group_ {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1px;
  top: 0.5px;
  background-image: url(images/mask_group_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.third_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 118px;
}
.third_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_3 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 22.5px;
  top: 1.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_3 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.third_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728485107421875px;
  top: 15px;
}
.third_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.third_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.third_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.third_group_ {
  width: 46px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0.5px;
  background-image: url(images/mask_group_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourth_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 177px;
}
.fourth_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_4 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 21.5px;
  top: 0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_4 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fourth_user_text {
  width: 147px;
  height: 22px;
  position: absolute;
  left: 55px;
  top: 12px;
}
.fourth_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 147px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.fourth_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.fourth_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.fourth_group_ {
  width: 46px;
  height: 46px;
  position: absolute;
  left: -0.5px;
  top: 0.5px;
  background-image: url(images/mask_group_4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fifth_user {
  width: 314.13037109375px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 236px;
}
.current_user {
  background-color: rgba(255, 188.00004959106445, 0, 0.25);
  width: 276px;
  height: 45px;
  position: absolute;
  left: 38.13037109375px;
  top: 0.96875px;
  border-radius: 13px;
}
.fifth_user_group {
  width: 286.6639099121094px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_5 {
  width: 271.8874206542969px;
  height: 45px;
  position: absolute;
  left: 40.61260986328125px;
  top: -0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_5 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 271.8874206542969px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fifth_user_text {
  width: 139.9601593017578px;
  height: 15px;
  position: absolute;
  left: 72.07861328125px;
  top: 15px;
}
.fifth_user_id {
  color: rgba(92.00000211596489, 107.00000122189522, 192.00000375509262, 1);
  width: 139.9601593017578px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.fifth_user_num {
  width: 53.19536590576172px;
  height: 15px;
  position: absolute;
  left: 243.6324462890625px;
  top: 15px;
}
.fifth_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 53.19536590576172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.fifth_group_ {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 16.565185546875px;
  top: -0.015625px;
  background-image: url(images/mask_group_5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sixth_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 295px;
}
.sixth_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_6 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 20.5px;
  top: 0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_6 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sixth_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728485107421875px;
  top: 15px;
}
.sixth_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.sixth_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.sixth_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.sixth_group_ {
  width: 46px;
  height: 46px;
  position: absolute;
  left: -2.5px;
  top: -0.5px;
  background-image: url(images/mask_group_6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ranking_title {
  width: 114px;
  height: 31px;
  position: absolute;
  left: 24px;
  top: 21px;
}
.ranking_text {
  color: rgba(25.344168841838837, 42.5000012665987, 11.864582151174545, 1);
  width: 79px;
  height: 20px;
  position: absolute;
  left: 35px;
  top: 6px;
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.trophy {
  width: 31px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/trophy.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.my_frame {
  width: 177px;
  height: 77px;
  position: absolute;
  left: 84px;
  top: 511px;
}
.mypage {
  width: 177px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 50px;
}
.logout_icon {
  width: 25px;
  height: 29px;
  position: absolute;
  left: 8px;
  top: -1px;
  background-image: url(images/mypage_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.logout_text {
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: 27px;
  position: absolute;
  left: 47px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.review_note {
  width: 147px;
  height: 38px;
  position: absolute;
  left: 4px;
  top: 0px;
}
.note_icon {
  width: 33px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 5.5px;
  background-image: url(images/note_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.note_text {
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: 38px;
  position: absolute;
  left: 47px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
