.review_sb {
  background-color: rgba(255, 255, 255, 1);
  width: 1480px;
  height: 833px;
  position: absolute;
}
.review_contents {
  width: 941px;
  height: 568px;
  position: absolute;
  left: 478px;
  top: 140px;
}
.review_header {
  width: 941px;
  height: 199px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.review_rectangle {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
  background-color: rgba(
    239.18055206537247,
    239.18055206537247,
    239.18055206537247,
    1
  );
  width: 941px;
  height: 199px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.review_note_title {
  width: 253px;
  height: 94px;
  position: absolute;
  left: 47px;
  top: 13px;
}
.review_note_text {
  color: rgba(0, 0, 0, 1);
  width: 177px;
  height: 38px;
  position: absolute;
  left: 84px;
  top: 28px;
  font-family: Inter;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0;
}
.review_icon {
  width: 65px;
  height: 52px;
  position: absolute;
  left: 2px;
  top: 21px;
  background-image: url(images/review_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.review_note_contents {
  color: rgba(45.805557891726494, 45.805557891726494, 45.805557891726494, 1);
  width: 779px;
  height: 48px;
  position: absolute;
  left: 142px;
  top: 99px;
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0.10000000149011612;
  line-height: px;
}
.review_prob {
  width: 558px;
  height: 339px;
  position: absolute;
  left: 0px;
  top: 229px;
}
.review_prob_title {
  color: rgba(38.0000015348196, 50.000000819563866, 56.000000461936, 1);
  width: 558px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 16px;
  font-family: Inter;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
}
.review_prob_description {
  color: rgba(0, 0, 0, 1);
  width: 558px;
  height: 222px;
  position: absolute;
  left: 0px;
  top: 101px;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}
.review_yellow {
  width: 184px;
  height: 64px;
  position: absolute;
  left: 816px;
  top: 722px;
}
.review_yellow_rectangle {
  background-color: rgba(255, 211.00000262260437, 51.00000075995922, 1);
  width: 184px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 21px;
}
.review_yellow_text {
  color: rgba(0, 0, 0, 1);
  width: 184px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 20px;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.prob_list {
  width: 325px;
  height: 420px;
  position: absolute;
  left: 1085px;
  top: 369px;
  overflow-y: scroll;
}
.prob_list_title {
  color: rgba(25.344168841838837, 42.5000012665987, 11.864582151174545, 1);
  width: 170px;
  height: 33px;
  position: absolute;
  left: 85px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.prob_list_content {
  width: 307px;
  height: 322px;
  position: absolute;
  left: 9px;
  top: 64px;
}
.problem_list_1 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.prob1 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.prob_selection1 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.35009765625px;
  top: 8px;
}
.prob_rectangle_1 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.p1 {
  width: 149.88900756835938px;
  height: 15px;
  position: absolute;
  left: 62.19873046875px;
  top: 15px;
}
.p1_text {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 149.88900756835938px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_2 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 46px;
}
.prob2 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.selected_problem {
  background-color: rgba(255, 188.00004959106445, 0, 0.25);
  width: 300.4200134277344px;
  height: 36px;
  position: absolute;
  left: 16px;
  top: 2px;
  border-radius: 13px;
}
.prob_selection2 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.prob_rectangle_2 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.p2 {
  width: 197.35714721679688px;
  height: 22px;
  position: absolute;
  left: 62.19876480102539px;
  top: 11px;
}
.p2_text {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 197.35714721679688px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_3 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 92px;
}
.prob3 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.prob_selection3 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.prob_rectangle_3 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.p3 {
  width: 111.8357162475586px;
  height: 22px;
  position: absolute;
  left: 62.19873046875px;
  top: 11px;
}
.p3_text {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 111.8357162475586px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_4 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 138px;
}
.prob4 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.prob_selection4 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.prob_rectangle_4 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.p4 {
  width: 122.80000305175781px;
  height: 22px;
  position: absolute;
  left: 62.19873046875px;
  top: 11px;
}
.p4_text {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 122.80000305175781px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_5 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 184px;
}
.prob5 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.prob_selection5 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.prob_rectangle_5 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.p5 {
  width: 75.65357208251953px;
  height: 22px;
  position: absolute;
  left: 62.19873046875px;
  top: 11px;
}
.p5_text {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 75.65357208251953px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_6 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 230px;
}
.prob6 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.prob_selection6 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.prob_rectangle_6 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.p6 {
  width: 91.00357055664062px;
  height: 22px;
  position: absolute;
  left: 62.19873046875px;
  top: 11px;
}
.p6_text {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 91.00357055664062px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_7 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 276px;
}
.prob7 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.prob_selection7 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.prob_rectangle_7 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.p7 {
  width: 111.8357162475586px;
  height: 22px;
  position: absolute;
  left: 62.19873046875px;
  top: 11px;
}
.p7_text {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 111.8357162475586px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.prob_entire_rectangle {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
  width: 300px;
  height: 362px;
  position: absolute;
  left: 24px;
  top: 40px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.header {
  width: 100%;
  position: absolute;

  top: 4.5625rem;
  display: flex;
  /* height : 100%; */
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
}

.logo_header {
  width: inherit;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-image: url("/static/img/CodeCraft.png");
  background-size: contain;
  float: left;
  margin-left: 5rem;
  cursor: pointer;
}

.user_header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
  margin-right: 5rem;
  float: right;
  margin-bottom: 2rem;
}

.user_info {
  width: auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.user_acc {
  display: flex;
  flex-direction: row;
}

.user_icon {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-image: url("/static/img/user_icon.png");
  background-size: contain;
  margin-right: 0.3rem;
}

.user_name {
  margin-right: 0.8rem;
  flex-grow: 0;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: left;
  color: #5c5c5c;
}

.user_score_icon {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-image: url("/static/img/score.png");
  background-size: contain;
  /* margin-right:0.3rem; */
}
.vector_5_i32_2548_17_416 {
  background-color: rgba(
    252.00000017881393,
    72.00000330805779,
    72.00000330805779,
    1
  );
  width: 26.560976028442383px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.leftbar {
  width: 389px;
  height: 833px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ranking {
  width: 330px;
  height: 655px;
  position: absolute;
  left: 21px;
  top: 178px;
}
.ranking_frame {
  width: 314.13037109375px;
  height: 341px;
  position: absolute;
  left: 13.434814453125px;
  top: 96.5px;
}
.first_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 0px;
}
.first_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_1 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 24.5px;
  top: 0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_1 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.first_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728515625px;
  top: 16px;
}
.first_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.first_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.first_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.first_group_ {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1px;
  top: 0.5px;
  background-image: url(images/mask_group_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.second_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 59px;
}
.second_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_2 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 22.5px;
  top: 1.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_2 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.second_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728485107421875px;
  top: 15px;
}
.second_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.second_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.second_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.second_group_ {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1px;
  top: 0.5px;
  background-image: url(images/mask_group_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.third_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 118px;
}
.third_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_3 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 22.5px;
  top: 1.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_3 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.third_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728485107421875px;
  top: 15px;
}
.third_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.third_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.third_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.third_group_ {
  width: 46px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0.5px;
  background-image: url(images/mask_group_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourth_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 177px;
}
.fourth_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_4 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 21.5px;
  top: 0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_4 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fourth_user_text {
  width: 147px;
  height: 22px;
  position: absolute;
  left: 55px;
  top: 12px;
}
.fourth_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 147px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.fourth_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.fourth_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.fourth_group_ {
  width: 46px;
  height: 46px;
  position: absolute;
  left: -0.5px;
  top: 0.5px;
  background-image: url(images/mask_group_4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fifth_user {
  width: 314.13037109375px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 236px;
}
.current_user {
  background-color: rgba(255, 188.00004959106445, 0, 0.25);
  width: 276px;
  height: 45px;
  position: absolute;
  left: 38.13037109375px;
  top: 0.96875px;
  border-radius: 13px;
}
.fifth_user_group {
  width: 286.6639099121094px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_5 {
  width: 271.8874206542969px;
  height: 45px;
  position: absolute;
  left: 40.61260986328125px;
  top: -0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_5 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 271.8874206542969px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fifth_user_text {
  width: 139.9601593017578px;
  height: 15px;
  position: absolute;
  left: 72.07861328125px;
  top: 15px;
}
.fifth_user_id {
  color: rgba(92.00000211596489, 107.00000122189522, 192.00000375509262, 1);
  width: 139.9601593017578px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.fifth_user_num {
  width: 53.19536590576172px;
  height: 15px;
  position: absolute;
  left: 243.6324462890625px;
  top: 15px;
}
.fifth_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 53.19536590576172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.fifth_group_ {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 16.565185546875px;
  top: -0.015625px;
  background-image: url(images/mask_group_5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sixth_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 295px;
}
.sixth_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_6 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 20.5px;
  top: 0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_6 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sixth_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728485107421875px;
  top: 15px;
}
.sixth_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.sixth_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.sixth_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.sixth_group_ {
  width: 46px;
  height: 46px;
  position: absolute;
  left: -2.5px;
  top: -0.5px;
  background-image: url(images/mask_group_6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ranking_title {
  width: 114px;
  height: 31px;
  position: absolute;
  left: 24px;
  top: 21px;
}
.ranking_text {
  color: rgba(25.344168841838837, 42.5000012665987, 11.864582151174545, 1);
  width: 79px;
  height: 20px;
  position: absolute;
  left: 35px;
  top: 6px;
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.trophy {
  width: 31px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/trophy.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.my_frame {
  width: 177px;
  height: 77px;
  position: absolute;
  left: 84px;
  top: 511px;
}
.mypage {
  width: 177px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 50px;
}
.logout_icon {
  width: 25px;
  height: 29px;
  position: absolute;
  left: 8px;
  top: -1px;
  background-image: url(images/mypage_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.logout_text {
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: 27px;
  position: absolute;
  left: 47px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}

.to_main {
  width: 147px;
  height: 38px;
  position: absolute;
  left: 4px;
  top: 0px;
}
.main_icon {
  width: 33px;
  height: 27px;
  position: absolute;
  left: 0px;
  top: 5.5px;
  background-image: url(images/house.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.main_text {
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: 38px;
  position: absolute;
  left: 47px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
