._____sb_2_472 {
  background-color: rgba(255, 255, 255, 1);
  width: 1480px;
  height: 833px;
  position: absolute;
}
.score_id_27_149 {
  width: 257px;
  height: 33px;
  position: absolute;
  left: 1162px;
  top: 65px;
}
.id_27_104 {
  width: 132px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.id_text_27_108 {
  width: 92px;
  height: 33px;
  position: absolute;
  left: 40px;
  top: 0px;
}
.bugjava_17_411 {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 92px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}

.bugjava_17_412 {
  font-family: Inter;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
}

.id_icon_75_2063 {
  width: 35px;
  height: 34px;
  position: absolute;
  left: -1px;
  top: -1px;
  background-image: url(images/id_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.score_27_103 {
  width: 99px;
  height: 28px;
  position: absolute;
  left: 158px;
  top: 2px;
}
.score_text_27_106 {
  width: 62.780487060546875px;
  height: 21px;
  position: absolute;
  left: 42px;
  top: 3px;
}
.score_icon_82_269 {
  width: 27px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/score_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contents_32_2705 {
  width: 941px;
  height: 568px;
  position: absolute;
  left: 478px;
  top: 140px;
}
.review_header_32_2699 {
  width: 941px;
  height: 199px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.review_rectangle_79_11093 {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
  background-color: rgba(
    239.18055206537247,
    239.18055206537247,
    239.18055206537247,
    1
  );
  width: 941px;
  height: 199px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.review_note_title_2_594 {
  width: 253px;
  height: 94px;
  position: absolute;
  left: 47px;
  top: 13px;
}
.review_note_2_602 {
  color: rgba(0, 0, 0, 1);
  width: 177px;
  height: 38px;
  position: absolute;
  left: 84px;
  top: 28px;
  font-family: Inter;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0;
}
.review_icon_75_2125 {
  width: 65px;
  height: 52px;
  position: absolute;
  left: 2px;
  top: 21px;
  background-image: url(images/review_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.review_note_contents_2_624 {
  color: rgba(45.805557891726494, 45.805557891726494, 45.805557891726494, 1);
  width: 779px;
  height: 48px;
  position: absolute;
  left: 142px;
  top: 99px;
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0.10000000149011612;
  line-height: px;
}
.review_prob_32_2700 {
  width: 558px;
  height: 339px;
  position: absolute;
  left: 0px;
  top: 229px;
}
.review_prob_title_2_625 {
  color: rgba(38.0000015348196, 50.000000819563866, 56.000000461936, 1);
  width: 558px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 16px;
  font-family: Inter;
  text-align: left;
  font-size: 32px;
  letter-spacing: 0;
}
.review_prob_description_32_2702 {
  color: rgba(0, 0, 0, 1);
  width: 558px;
  height: 222px;
  position: absolute;
  left: 0px;
  top: 101px;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}
.review_button_32_2697 {
  width: 184px;
  height: 64px;
  position: absolute;
  left: 816px;
  top: 722px;
}
.review_rectangle_2_627 {
  background-color: rgba(255, 211.00000262260437, 51.00000075995922, 1);
  width: 184px;
  height: 64px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 21px;
}
.review_text_2_628 {
  color: rgba(0, 0, 0, 1);
  width: 184px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 20px;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.prob_list_79_11068 {
  width: 325px;
  height: 420px;
  position: absolute;
  left: 1085px;
  top: 369px;
  overflow-y: scroll;
}
.prob_list_title_2_474 {
  color: rgba(25.344168841838837, 42.5000012665987, 11.864582151174545, 1);
  width: 170px;
  height: 33px;
  position: absolute;
  left: 85px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0;
}
.prob_list_content_79_11067 {
  width: 307px;
  height: 322px;
  position: absolute;
  left: 9px;
  top: 64px;
}
.problem_list_2_634 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.friends_2_635 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.leaderboard_selection_79_11088 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.35009765625px;
  top: 8px;
}
.rectangle_30_79_11090 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.inativo_2_637 {
  width: 149.88900756835938px;
  height: 15px;
  position: absolute;
  left: 62.19873046875px;
  top: 15px;
}
.____2_638 {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 149.88900756835938px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_2_639 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 46px;
}
.friends_2_640 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle_147_2_641 {
  background-color: rgba(255, 188.00004959106445, 0, 0.25);
  width: 300.4200134277344px;
  height: 36px;
  position: absolute;
  left: 16px;
  top: 2px;
  border-radius: 13px;
}
.learderboard_selection_2_642 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.rectangle_30_2_643 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.inativo_2_644 {
  width: 197.35714721679688px;
  height: 22px;
  position: absolute;
  left: 62.19876480102539px;
  top: 11px;
}
.___32_2694 {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 197.35714721679688px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_2_646 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 92px;
}
.friends_2_647 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_2_648 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.rectangle_30_2_649 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.inativo_2_650 {
  width: 111.8357162475586px;
  height: 22px;
  position: absolute;
  left: 62.19873046875px;
  top: 11px;
}
._______2_651 {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 111.8357162475586px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_2_652 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 138px;
}
.friends_2_653 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_2_654 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.rectangle_30_2_655 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.inativo_2_656 {
  width: 122.80000305175781px;
  height: 22px;
  position: absolute;
  left: 62.19873046875px;
  top: 11px;
}
.______2_2_657 {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 122.80000305175781px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_2_658 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 184px;
}
.friends_2_659 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_2_660 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.rectangle_30_2_661 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.inativo_2_662 {
  width: 75.65357208251953px;
  height: 22px;
  position: absolute;
  left: 62.19873046875px;
  top: 11px;
}
.____2_663 {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 75.65357208251953px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_2_664 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 230px;
}
.friends_2_665 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_2_666 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.rectangle_30_2_667 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.inativo_2_668 {
  width: 91.00357055664062px;
  height: 22px;
  position: absolute;
  left: 62.19873046875px;
  top: 11px;
}
._____2_669 {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 91.00357055664062px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.problem_list_2_670 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 276px;
}
.friends_2_671 {
  width: 307px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_2_672 {
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 15.350000381469727px;
  top: 8px;
}
.rectangle_30_2_673 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 300.4214172363281px;
  height: 30px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.inativo_2_674 {
  width: 111.8357162475586px;
  height: 22px;
  position: absolute;
  left: 62.19873046875px;
  top: 11px;
}
._______2_675 {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 111.8357162475586px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.prob_list_rectangle_79_11094 {
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.03999999910593033);
  width: 300px;
  height: 362px;
  position: absolute;
  left: 24px;
  top: 40px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
/* .a79_11094 { 
	border:2px solid rgba(0, 0, 0, 1);
} */
.score_id_32_2548 {
  width: 257px;
  height: 33px;
  position: absolute;
  left: 1162px;
  top: 65px;
}
.id_i32_2548_27_104 {
  width: 132px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.id_text_i32_2548_27_108 {
  width: 92px;
  height: 33px;
  position: absolute;
  left: 40px;
  top: 0px;
}
.bugjava_i32_2548_17_411 {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 92px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}

.bugjava_i32_2548_17_415 {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  font-family: Inter;
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
}
.id_icon_i32_2548_75_2063 {
  width: 35px;
  height: 34px;
  position: absolute;
  left: -1px;
  top: -1px;
  background-image: url(images/id_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.id_icon_i32_2548_82_269 {
  width: 27px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/score_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.score_i32_2548_27_103 {
  width: 99px;
  height: 28px;
  position: absolute;
  left: 158px;
  top: 3px;
}
.score_text_i32_2548_27_106 {
  width: 62.780487060546875px;
  height: 21px;
  position: absolute;
  left: 40px;
  top: 0px;
}
/*.263_i32_2548_17_415 { */
/*	color:rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);*/
/*	width:62.780487060546875px;*/
/*	height:21px;*/
/*	position:absolute;*/
/*	left:0px;*/
/*	top:0px;*/
/*	font-family:Inter;*/
/*	text-align:left;*/
/*	font-size:24px;*/
/*	letter-spacing:0;*/
/*}*/
.score_icon_i32_2548_27_107 {
  width: 26.560976028442383px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.vector_5_i32_2548_17_416 {
  background-color: rgba(
    252.00000017881393,
    72.00000330805779,
    72.00000330805779,
    1
  );
  width: 26.560976028442383px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.leftbar_79_9509 {
  width: 389px;
  height: 833px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ranking_79_9407 {
  width: 330px;
  height: 655px;
  position: absolute;
  left: 21px;
  top: 178px;
}
.ranking_frame_79_9408 {
  width: 314.13037109375px;
  height: 341px;
  position: absolute;
  left: 13.434814453125px;
  top: 96.5px;
}
.first_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 0px;
}
.first_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_32_1659 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 24.5px;
  top: 0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_30_i32_1659_74_99 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.first_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728515625px;
  top: 16px;
}
.first_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.first_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.first_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.first_group_ {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1px;
  top: 0.5px;
  background-image: url(images/mask_group_1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.second_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 59px;
}
.second_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_17_365 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 22.5px;
  top: 1.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_30_i17_365_74_99 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.second_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728485107421875px;
  top: 15px;
}
.second_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.second_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.second_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.second_group_ {
  width: 47px;
  height: 47px;
  position: absolute;
  left: 1px;
  top: 0.5px;
  background-image: url(images/mask_group_2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.third_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 118px;
}
.third_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_17_347 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 22.5px;
  top: 1.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_30_i17_347_74_99 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.third_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728485107421875px;
  top: 15px;
}
.third_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.third_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.third_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.third_group_ {
  width: 46px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0.5px;
  background-image: url(images/mask_group_3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fourth_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 177px;
}
.fourth_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_17_297 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 21.5px;
  top: 0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_30_i17_297_74_99 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fourth_user_text {
  width: 147px;
  height: 22px;
  position: absolute;
  left: 55px;
  top: 12px;
}
.fourth_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 147px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.fourth_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.fourth_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.fourth_group_ {
  width: 46px;
  height: 46px;
  position: absolute;
  left: -0.5px;
  top: 0.5px;
  background-image: url(images/mask_group_4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.fifth_user {
  width: 314.13037109375px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 236px;
}
.current_user {
  background-color: rgba(255, 188.00004959106445, 0, 0.25);
  width: 276px;
  height: 45px;
  position: absolute;
  left: 38.13037109375px;
  top: 0.96875px;
  border-radius: 13px;
}
.fifth_user_group {
  width: 286.6639099121094px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_17_315 {
  width: 271.8874206542969px;
  height: 45px;
  position: absolute;
  left: 40.61260986328125px;
  top: -0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_30_i17_315_74_99 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 271.8874206542969px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fifth_user_text {
  width: 139.9601593017578px;
  height: 15px;
  position: absolute;
  left: 72.07861328125px;
  top: 15px;
}
.fifth_user_id {
  color: rgba(92.00000211596489, 107.00000122189522, 192.00000375509262, 1);
  width: 139.9601593017578px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.fifth_user_num {
  width: 53.19536590576172px;
  height: 15px;
  position: absolute;
  left: 243.6324462890625px;
  top: 15px;
}
.fifth_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 53.19536590576172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.fifth_group_ {
  width: 47px;
  height: 46px;
  position: absolute;
  left: 16.565185546875px;
  top: -0.015625px;
  background-image: url(images/mask_group_5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sixth_user {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 17.065185546875px;
  top: 295px;
}
.sixth_user_group {
  width: 280px;
  height: 46px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.learderboard_selection_17_331 {
  width: 276px;
  height: 45px;
  position: absolute;
  left: 20.5px;
  top: 0.5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}
.rectangle_30_i17_331_74_99 {
  background-color: rgba(
    137.00000703334808,
    226.0000017285347,
    25.000000409781933,
    0.10000000149011612
  );
  width: 276px;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.sixth_user_text {
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 56.728485107421875px;
  top: 15px;
}
.sixth_user_id {
  color: rgba(92.43750303983688, 92.43750303983688, 92.43750303983688, 1);
  width: 136.7065887451172px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;
}
.sixth_user_num {
  width: 54px;
  height: 15px;
  position: absolute;
  left: 226px;
  top: 15px;
}
.sixth_number {
  color: rgba(87.00000241398811, 87.00000241398811, 87.00000241398811, 1);
  width: 54px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: Inter;
  text-align: right;
  font-size: 14px;
  letter-spacing: -2;
}
.sixth_group_ {
  width: 46px;
  height: 46px;
  position: absolute;
  left: -2.5px;
  top: -0.5px;
  background-image: url(images/mask_group_6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.ranking_title_79_9458 {
  width: 114px;
  height: 31px;
  position: absolute;
  left: 24px;
  top: 21px;
}
.ranking_text_79_9459 {
  color: rgba(25.344168841838837, 42.5000012665987, 11.864582151174545, 1);
  width: 79px;
  height: 20px;
  position: absolute;
  left: 35px;
  top: 6px;
  font-family: Inter;
  text-align: left;
  font-size: 20px;
  letter-spacing: 0;
}
.trophy_79_9460 {
  width: 31px;
  height: 31px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(images/trophy.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.mypage_button_79_9461 {
  width: 233px;
  height: 64px;
  position: absolute;
  left: 34px;
  top: 543px;
}
.mypage_i79_9461_25_127 {
  width: 177px;
  height: 27px;
  position: absolute;
  left: 50px;
  top: 18px;
}
.mypage_icon_i79_9461_25_128 {
  width: 23.960121154785156px;
  height: 27.227867126464844px;
  position: absolute;
  left: 8.519939422607422px;
  top: -0.11393356323242188px;
}
.vector_i79_9461_25_129 {
  background-color: rgba(
    92.43750303983688,
    92.43750303983688,
    92.43750303983688,
    1
  );
  width: 13.069156646728516px;
  height: 13.069159507751465px;
  position: absolute;
  left: 5.4454498291015625px;
  top: 0px;
}
.vector_i79_9461_25_130 {
  background-color: rgba(
    92.43750303983688,
    92.43750303983688,
    92.43750303983688,
    1
  );
  width: 23.960121154785156px;
  height: 10.890955924987793px;
  position: absolute;
  left: 0px;
  top: 16.336910247802734px;
}
.______i79_9461_25_153 {
  color: rgba(0, 0, 0, 1);
  width: 122px;
  height: 27px;
  position: absolute;
  left: 46.48006057739258px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.review_button_79_9508 {
  width: 251px;
  height: 57px;
  position: absolute;
  left: 40px;
  top: 502px;
}
.review_note_i79_9508_79_9486 {
  width: 143px;
  height: 38px;
  position: absolute;
  left: 53.89574432373047px;
  top: 9.5px;
}
.house_i79_9508_79_9506 {
  width: 37px;
  height: 37px;
  position: absolute;
  left: 0px;
  top: 0.5px;
  background-image: url(images/house.png);
  background-repeat: no-repeat;
  background-size: cover;
}
._____i79_9508_79_9494 {
  color: rgba(0, 0, 0, 1);
  width: 100px;
  height: 38px;
  position: absolute;
  left: 43px;
  top: 0px;
  font-family: Inter;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.code_craft_79_9463 {
  background-image: linear-gradient(
    0deg,
    rgba(121.31036773324013, 140.58494746685028, 247.66580075025558, 1) 0%,
    rgba(173.39995622634888, 0, 255, 0.6100000143051147) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  width: 238px;
  height: 85px;
  position: absolute;
  left: 78px;
  top: 74px;
  font-family: Baloo;
  text-align: center;
  font-size: 54px;
  letter-spacing: -4.5;
}
.leftrectangle_79_9464 {
  border: 1px solid
    rgba(221.00000202655792, 221.00000202655792, 221.00000202655792, 1);
}
.leftrectangle_79_9464 {
  width: 389px;
  height: 833px;
  position: absolute;
  left: 0px;
  top: 0px;
}
