<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/acc.css">
    <title>Login</title>
</head>

<body>
    <form method="post" action="http://server1"></form>
        <div class="mainpage_content">
            <div class="logo"></div>
            
            <input type="text" class = "input_items" name="username" placeholder="아이디" id="username">
            <input type="password" class = "input_items" name="password" placeholder="비밀번호"  id="password">
            <button class="submit_btn"  type="submit">로그인</button>

            <div class="below_item">
                <input type="checkbox"  id="checkbox_box"></input>
                <div class="login_continue" id="checkbox_text">로그인 유지</div>
                <a class="find_idpw" href="" style="text-decoration: none">아이디/비밀번호 찾기</a>
            </div>
            <div class="newbie">
                <span class="runewbie">Code Craft 에 처음이신가요?</span>
                <a class="runewbie register" href="" style="text-decoration: none">회원가입</a>
            
            </div>
        </div>
    </form>
            
</body>

</html>