

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/basic.css">
    <title>Practice</title>
    <link rel="import" href="testContents.html">
</head>

<body>

    <div class=header>
        <div class="logo_header"></div>
        <div class="user_header">
                <div class="user_icon"></div>
                <div class = "user_name">{{user_name}}</div>
                <div class="user_score_icon"></div>
                <div class = "user_name">{{user_score}}</div>
        </div>
    </div>


    <div class="problem_area">
        <div class="problem_title"> {{problem_title}}4. 홀짝에 따라 다른값 반환하기</div>
        <div class="provlem_content">{{problem_content}}
          
            양의 정수 n이 매개변수로 주어질 때, n이 홀수라면 n 이하의 홀수인 모든 양의 정수의 합을 return 하고 n이 짝수라면 n 이하의 짝수인 모든 양의 정수의 제곱의 합을 return 하는 solution 함수를 작성하라.</div>
        <div class="io_example">{{io_example}}입출력 예시</div>
    </div>

    <div class="midline"></div>
    
    <div class="answer_area">
        <div class="answer_area_top">
            <div class="prob_number">문제 N</div>
        <div class="hint_n_time">
            <div class="hint_area">
                <div class ="hint_word">힌트</div>
                <button class="hint" onclick="alert('이 힌트를 쓰시겠습니까?')" id= "hint1"></button>
                <button class="hint" onclick="alert('이 힌트를 쓰시겠습니까?')" id= "hint2"></button>
                <button class="hint" onclick="alert('이 힌트를 쓰시겠습니까?')" id= "hint3"></button>
                <button class="hint" onclick="alert('이 힌트를 쓰시겠습니까?')" id= "hint4"></button>
                <button class="hint skeleton" onclick="alert('스켈레톤 힌트를 쓰시겠습니까?')" id= "hint5"></button>
            </div>
            <div class="time_area">
                <div class ="time_icon"></div>
                <div class ="time">1:27</div>
            </div>


        </div>
        </div>
        
        <div class="put_answer">
            <textarea  type="text" class = "user_answer" name="user_answer" placeholder="정답을 입력하세요" id="user_answer"></textarea>

            <button class="submit_btn_user" onclick="alert('제출하시겠습니까?')"
            >제출</button>
            <div class="submit_icon" ></div>
        
        </div>

    </div>
    
    <div class=footer>
        
        <button class="home_icon"></button>
        <div class ="to_home">메인으로</div>  
        <button class="question_icon"></button>
        <div class ="question">도움말</div>  
    </div> 
            
</body>

</html>