<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/basic.css" />
    <title>Real Mode</title>
    <link rel="import" href="testContents.html" />
  </head>

  <body>
    <div class="header">
      <div class="logo_header"></div>
      <div class="user_header">
        <div class="user_icon"></div>
        <div class="user_name">{{user_name}}</div>
        <div class="user_score_icon"></div>
        <div class="user_name">{{user_score}}</div>
      </div>
    </div>

    <div class="problem_area">
      <div class="problem_title"> {{problem_title}}</div>
      <div class="provlem_content">{{problem_content}}
        
      </div>
      <!--<div class="io_example">{{io_example1}}{{io_example2}}{{io_example3}}{{io_ex_answer1}}{{io_ex_answer2}}{{io_ex_answer3}}</div>-->
      <div class="io_example">
          {% if io_example1 %}{{ io_example1 }}{% endif %}
          {% if io_example2 %}{{ io_example2 }}{% endif %}
          {% if io_example3 %}{{ io_example3 }}{% endif %}
          {% if io_ex_answer1 %}{{ io_ex_answer1 }}{% endif %}
          {% if io_ex_answer2 %}{{ io_ex_answer2 }}{% endif %}
          {% if io_ex_answer3 %}{{ io_ex_answer3 }}{% endif %}
        </div>
  </div>

    <div class="midline"></div>

    <div class="answer_area">
      <div class="answer_area_top">
        <div class="real_mode_sqr">실전모드</div>
        <div class="real_mode_score">
          <div class="hint_area">
            <div class="info_word">나의 점수</div>
            
            <div class="star_icon"></div>
        
            <div class="info_word" id="realmode_score">77점</div>
          </div>
          
        </div>
      </div>
      <div class="answer_area_middle">
        <div class="progress_area">
            <div id="wholeProgress">
              <div id="myBar"></div>
            </div>
            <div class="time_area">
            <div class="time_word">남은시간</div>
            <div class="time_icon"></div>
            <div class="time">10:00</div>
          </div>
        </div>


      </div>
      <div class="put_answer">
        <textarea
          type="text"
          class="user_answer"
          name="user_answer"
          placeholder="정답을 입력하세요"
          id="user_answer"
        ></textarea>

        <button class="submit_btn_user" onclick="alert('제출하시겠습니까?')">
          제출
        </button>
        <div class="submit_icon"></div>
      </div>
    </div>

    <div class="footer">
      <button class="home_icon"></button>
      <div class="to_home">메인으로</div>
      <button class="question_icon"></button>
      <div class="question">도움말</div>
    </div>
  </body>
</html>
