<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/acc.css">
    <title>Login</title>
</head>

<body>
    <form method="post" action="">
        <div class="my-33">
            <div class="search_title">회원가입</div>
            <span style="color: red; font-size: 15px;">{{ error }}</span>
            {% csrf_token %}
            <div class="mb-3">
                <div for="username" class="search_subtitle">아이디</div>
                <input type="text" class = "input_items" name="username" placeholder="아이디 입력 (6~20자)" id="username">
            </div>
            <div class="mb-3">
                <div for="password1" class="search_subtitle">비밀번호</div>
                <input type="password" class = "input_items" name="pw" placeholder="비밀번호 입력 (문자, 숫자 포함 8~20글자)" id="pw">
            </div>
            <div class="mb-3">
                <div for="password2" class="search_subtitle">비밀번호 확인</div>
                <input type="password" class = "input_items" name="pw2" placeholder="비밀번호 재입력" id="pw2">
            </div>
            <button type="submit" class="submit_btn btn-send">회원가입</button>
        </div>
    </form>     
</body>

</html>