<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/basic.css" />
    <title>Real Mode</title>
    <link rel="import" href="testContents.html" />
  </head>

  <body>
    <div class="header">
      <div class="logo_header"></div>
      <div class="user_header">
        <div class="user_icon"></div>
        <div class="user_name">{{user_name}}</div>
        <div class="user_score_icon"></div>
        <div class="user_name">{{user_score}}</div>
      </div>
    </div>
    
    <div class="review_area">
    <div class="review_top">
        <div class="prob_number review" >오답노트</div>
        <form method="post" action="">
        <div class="chat_area">
            <div class="search_icon"></div>
            <input type="text" class="user_question" name="user_question"
            placeholder="인공지능에게 물어보기!"
            id="user_question" autofocus >
            <div class="chat_icon"></div>
        </div>
    </form>
    </div>
    <div class="review_middle">
        <div class="problem_title review_prob">{{problem_title}}</div>
        <div class="provlem_content reivew_cont">
          {{problem_content}}
        </div>
    </div>

    <div class="review_bottom">
     <div class="code">
        <div class="sub_word">내가 제출한 코드</div>
        <div class="code_onethird" id="my_code"></div>
     </div>
     <div class="code">
        <div class="sub_word">런타임 최단시간 코드</div>
        <div class="code_onethird" id="runtime_code"></div>
     </div>
     
     <div class="code">
        <div class="sub_word">인공지능 코드</div>
        <div class="code_onethird" id="AI_code"></div>
     </div>
    </div>
  
    




    <div class="footer">
      <button class="home_icon"></button>
      <div class="to_home">메인으로</div>
      <button class="question_icon"></button>
      <div class="question">도움말</div>
    </div>
  </body>
</html>
